- if !defined?(style) || style.nil? || style=='thumb'
	%li.span1= link_to(image_tag(variant_image.image.url(:thumb), :alt => variant_image.variant.sku, :title => variant_image.variant.sku), variant_image)
- elsif style=='original'
	%li.span1= link_to(image_tag(variant_image.image.url, :class=>'thumbnail', :alt => variant_image.variant.name_for_amazon, :title => variant_image.variant.name_for_amazon), variant_image)
